<ion-view title="Customer Service">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>

	<ion-content id="customer-service">
		<div class="padding" padding="true">
			<h2>Need support?</h2>
			<p>Feel free to contact our back up team</p>
			<div class="list list-inset">
				<div class="item item-divider">
					By Email
				</div>
				<label class="item item-input">
					<input type="text" placeholder="Your Email">
				</label>
				<label class="item item-input">
					<textarea placeholder="Comments/Questions"></textarea>
				</label>
				<button class="bg-navy-blue button button-block button-positive">
					Send
				</button>
				<p style="text-align: center;">- or -</p>
				<a class="button button-block button-energized"
						href="tel:65335300">
					<span class="white-icon ion-ios-telephone" style="font-size: 24px;">&nbsp;</span>
					Call us for Online Banking issue
				</a>
				<a class="button button-block button-royal"
				   href="tel:26888222">
					<span class="white-icon ion-ios-telephone" style="font-size: 24px;">&nbsp;</span>
					Call us for Customer Service
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>