<ion-view title="Elite Smart Banking">
	<ion-content class="padding" padding="true">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Username" ng-model="data.username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="data.password">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Second Password" ng-model="data.secondPassword">
			</label>
		</div>
		<a class="button button-block button-positive" href="#/app/main">
			Login
		</a>
	</ion-content>
</ion-view>