<ion-view title="Statement">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>

	<ion-content>
		<ion-list on-swipe-down="onSwipe()">
			<ion-item class="item-divider">
				<h2>Account: 502-345678-956</h2>
				Balance: $30, 000
			</ion-item>
			<ion-item ng-repeat="month in months" href="#/app/statement-details">
				{{month}}
				<i class="ion-chevron-right pull-right"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>