<ion-side-menus>
	<!-- Center content -->
	<ion-side-menu-content>
		<!-- Main content, usually <ion-nav-view> -->
		<ion-nav-bar class="bg-navy-blue bar-positive">
		</ion-nav-bar>
		<ion-nav-view name="mainContent">
			<a class="float-btn" href="#/app/customer-service">
				<div class="float-btn-icon-grp">
					<span class="base ion-record"></span>
					<span class="front ion-person-stalker"></span>
				</div>
			</a>
		</ion-nav-view>
	</ion-side-menu-content>

	<!-- Left menu -->
	<ion-side-menu side="left">
		<ion-header-bar class="bg-navy-blue bar-positive">
			<h1 class="title">Mr Chan Tai Man</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item menu-close href="#/app/main">
					News
				</ion-item>
				<ion-item menu-close href="#/app/search">
					Stock
				</ion-item>
				<ion-item menu-close href="#/app/statement">
					Statement
				</ion-item>
				<ion-item menu-close href="#/app/location">
					Location
				</ion-item>
				<ion-item menu-close href="#/app/customer-service">
					Contact Us
				</ion-item>
				<ion-item menu-close href="#/app/login">
					Logout
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>