#main {
  .img-news {
    width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .stock-info-group {
    overflow: auto;
    height: auto;
    .stock-price {
      h1 {

        float: left;
      }
    }
    .stock-diff {
      float: left;
      margin-top: 20px;
    }

    .icon {
      float: left;
      font-size: 32px;
      color: #add764;
      margin-top: 10px;
      margin-left: 8px;
    }

  }
  .stock-btn-bar {
    padding: 10px;
  }

  .volume {
  }

}